@use '../../../../../styles.scss' as v;

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.image {
    grid-column: 1;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    max-width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
}

.content-container {
    grid-column: 2;
    display: grid;
    background-color: aqua;
    height: 100%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% 10%
}

.grid-list {
    margin-left: 20%;
    margin-right: 20%;
}

.reverse-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "content image";
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
}

.reverse-content-container {
    grid-area: content;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reverse-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% 10%
}

.reverse-image {
    grid-area: image;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reverse-image img {
    max-width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
}

@media (max-width: 2100px) {
    .grid-list {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (max-width: 1600px) {
    .grid-list {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 1324px) {
    .grid-list {
        margin-left: 8%;
        margin-right: 8%;
    }
}

@media (max-width: 1024px) {
    .grid-list {
        margin-left: 16px;
        margin-right: 16px;
    }

    .image img {
        max-width: 200px;
    }
}

.carousel-img {
    width: 80%;
    margin: auto;
    height: 500px;
    object-fit: contain;
    display: block;
}

.title {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 16px;
}

.spec-table {
    background: v.$nav-color;
}

table {
    width: 100%;
    background: transparent;
    border-collapse: collapse;
}

td.mat-mdc-cell {
    color: rgba(255, 255, 255, .90);
    padding: 14px 18px;
    vertical-align: top;
}

.label {
    width: 42%;
    font-weight: 600;
    color: rgba(255, 255, 255, .92);
}

.value {
    width: 58%;
    color: rgba(255, 255, 255, .85);
}

.value-line {
    line-height: 1.6;
}

.spec-table tr.mat-mdc-row:nth-child(odd) {
    background: rgba(255, 255, 255, .06);
}

.spec-table tr.mat-mdc-row:nth-child(even) {
    background: rgba(0, 0, 0, .06);
}