@use '../../../../../styles.scss' as v;

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.image {
    grid-column: 1;
    background-color: rgba(v.$nav-color, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    max-width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
}

.content-container {
    grid-column: 2;
    display: grid;
    background-color: rgba(v.$nav-color, 0.4);
    height: 100%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% 10%
}

.reverse-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "content image";
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
}

.reverse-content-container {
    grid-area: content;
    background-color: rgba(v.$nav-color, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.reverse-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0% 10%;
}

.reverse-image {
    grid-area: image;
    background-color: rgba(v.$nav-color, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reverse-image img {
    max-width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
}

@media (max-width: 1024px) {
    .image img {
        max-width: 200px;
    }
}

.carousel-img {
    width: 80%;
    margin: auto;
    height: 500px;
    object-fit: contain;
    display: block;
}

.title {
    color: v.$nav-color;
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 16px;
}

.spec-table {
    background: v.$nav-color;
}

table {
    width: 100%;
    background: transparent;
    border-collapse: collapse;
}

td.mat-mdc-cell {
    color: v.$font-color;
    padding: 14px 18px;
    vertical-align: top;
}

.label {
    width: 42%;
    font-weight: 600;
    color: v.$font-color
}

.value {
    width: 58%;
    color: v.$font-color
}

.value-line {
    line-height: 1.6;
}

.spec-table tr.mat-mdc-row:nth-child(odd) {
    background: rgba(255, 255, 255, .06);
}

.spec-table tr.mat-mdc-row:nth-child(even) {
    background: rgba(0, 0, 0, .06);
}

:host ::ng-deep .spec-checkbox.mat-mdc-checkbox-disabled .mdc-checkbox__background {
    border-color: v.$font-color;
}