@use '@angular/material' as mat;

html {
  height: 100%;

  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: 0,
    ));
}

body {
  height: 100%;
  margin: 0;

  color-scheme: light dark;

  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

app-root {
  display: block;
  height: 100%;
}

.app-page {
  padding: 16px;
}

.app-stack {
  display: grid;
  gap: 16px;
}