@use '@angular/material' as mat;
@import "@angular/material/prebuilt-themes/azure-blue.css";

$nav-color: rgb(85, 106, 215);
$nav-height: 64px;
$font-color: rgb(227, 224, 224);
$transition: all 0.2s linear;

body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}