@use '@angular/material' as mat;
@import "@angular/material/prebuilt-themes/azure-blue.css";

$nav-color: rgb(85, 106, 215);
$nav-height: 64px;
$font-color: rgb(227, 224, 224);
$transition: all 0.2s linear;

body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.grid-list {
    margin-left: 20%;
    margin-right: 20%;
}

@media (max-width: 2100px) {
    .grid-list {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (max-width: 1600px) {
    .grid-list {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 1324px) {
    .grid-list {
        margin-left: 8%;
        margin-right: 8%;
    }
}

@media (max-width: 1024px) {
    .grid-list {
        margin-left: 16px;
        margin-right: 16px;
    }
}