@use '../../../../../styles.scss' as v;

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    margin-top: 20px;
    border-radius: 20px;

    border-radius: 20px;
    background: #fff;
    border: 1px solid #e0e0e0;
    overflow: hidden;
}

.container:hover {
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}

.image {
    grid-column: 1;
    background-color: rgba(v.$nav-color, 0.9);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 290px;
}

.image img {
    max-width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
}

.content-container {
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgba(v.$nav-color, 0.4);
    height: 100%;
}

.sub-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-line {
    display: flex;
    flex-direction: row;
}

.content-specific {
    padding-left: 5px;
}

@media (max-width: 1100px) {
    .grid-list {
        margin-left: 16px;
        margin-right: 16px;
    }


    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 330px;
    }
}

@media (max-width: 900px) {
    .grid-list {
        margin-left: 16px;
        margin-right: 16px;
    }


    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 450px;
    }
}