@use '../../../../../styles.scss' as v;

.grid-list {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    overflow: hidden;
}

.image {
    margin: 5px;
    border-radius: 10%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 10%;
    transition: v.$transition;
}

img:hover {
    cursor: pointer;
    box-shadow: 0px 10px 5px v.$nav-color;
}