@use '../../../../../styles.scss' as v;

.grid-list {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    overflow: hidden;
}

.image {
    margin: 5px;
    border-radius: 10%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 10%;
}

.grid-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-btn {
    margin: 10px;
}

.container {
    border: solid 1px v.$font-color;
    border-radius: 30px;
    transition: v.$transition;
    margin: 5px;
}

.container:hover {
    cursor: pointer;
    box-shadow: 5px 10px 5px v.$nav-color;
}