@use '../../../../../styles.scss' as v;
@use '@angular/material' as mat;

.container {
    height: 100vh;
}

.toolbar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    z-index: 10;
    background-color: v.$nav-color;
}

.title {
    font-size: 18px;
    position: relative;
    top: -5px;
    font-weight: 600;
    color: v.$font-color;
    padding-left: 10px;
    transition: v.$transition
}

.title-icon {
    color: v.$font-color;
    transition: v.$transition
}

.spacer {
    flex: 1;
}

.content {
    padding: 16px;
}

.sidenav {
    background-color: v.$nav-color;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: v.$font-color;
    padding: 16px;
    font-weight: 700;
    transition: v.$transition;
}

.brand:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.item {
    margin-top: 8px;
    width: 100%;
    color: v.$font-color;
    transition: v.$transition
}

.item:hover {
    padding-left: 10px;
    background-color: rgb(61, 87, 213);
}

.cart,
.account {
    color: v.$font-color;
    transition: v.$transition
}

.cart:hover,
.account:hover {
    transform: scale(1.25);
}

.menu {
    transition: v.$transition
}

.menu:hover {
    transform: scale(1.15);
}

.brand-name {
    padding-left: 5px;
}